article {
    word-wrap: break-word;
}

.article-item-statistics .value {
    margin-right: 6px;
}

/*.articles-table*/
.article-item {
    width: 278px;
    height: 265px;
    float: left;
    margin-right: 6px;
    background: #ffffff;
    position: relative;
}


.article-item, .article-text  {
    font-size: 18px;
    margin-bottom: 36px;

}
.article-item .article-item-main_img {
    width: 100%;
    height: 130px;
    overflow: hidden;
}
.article-item .article-item-main_img img {
    width: 100%;
}
.article-item-time {
    margin-bottom: 5px;
    font-size: 12px;
}
.article-item-statistics {
    position: absolute;
    top: 240px;
    font-size: 12px;
    padding-left: 4px;
}

.article-item-link {
    height: 84px;
    overflow: hidden;
    font-size: 14px;
    padding: 10px 6px 6px 6px;
}

.article-item-link a {
    color: #3a3f58;
}