.blog-widget {
    position: relative;
    width: 370px;
    height: 420px;
    overflow: hidden;
    background: #ffffff;
    float: left;
    margin-right: 10px;
    margin-bottom: 26px;
}

.blog-widget:nth-child(3) {
    margin-right: 0;
}

.blog-widget .blog-image {
    width: 370px;
    height: 180px;
    overflow: hidden;
}
.blog-widget img {
    top: -20px;
    position: relative;
    width: 370px;
}

.blog-widget .caption {
    /*text-align: center;*/
    padding: 0 10px 0 10px;
}
.blog-widget .caption a {
    color: #000000;
    font-size: 19px;
}
.blog-widget .caption .blog-name {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-widget .stats {
    padding: 0 10px 0 10px;
    width: 100%;
    overflow: hidden;
}

.blog-widget .stats .stat {
    font-size: 12px;
    margin-right: 10px;
}

.blog-widget:after {
    content:'';
    width:100%;
    height: 40px;
    position:absolute;
    left:0;
    top: 380px;
    background: linear-gradient(rgba(0,0,0,0), #ffffff);
}

.blog-widget .description {
    position: relative;
    padding: 10px;
}