body {
    margin: 0;
    width: 100%;
    color: #666866;
    display: table;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.navbar-nav a {
    color: #3a3f58;
    font-weight: bold;
}
body, label, .checkbox label {
    font-weight: 300;
}
html, body {
    height: 100%;
}
.title {
    font-size: 96px;
    margin-bottom: 40px;
}

h1 {
    color: #3a3f58;
}
.quote { font-size: 24px; }
.navbar-hhiker-logo-container {
    padding: 0 22px 0 22px;
    background: #262D31;
}
footer {
    margin-top: 20px;
    min-height: 150px;
    background: #2A3136;
    color: #F5F0E2;
}
footer a {
    color: #5AC6BF;
}
footer .footer-menu {
    padding-top: 30px;
}
.navbar-nav > li > a {
    text-decoration: underline;
}

.navbar-form input.form-control {
    opacity: 0.7;
}
.navbar-form input.form-control:focus {
    border: 1px solid #cccccc;
    opacity: 1;
}
textarea.form-control, input.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.question-list-title {
    font-size: 16px;
    font-weight: bold;
}
.question-list-time {
    color: #666666;
}
.question-list-stat {
    color: #666666;
}
.question-title {
    font-size: 20px;
    font-weight: bold;
}
.question-comment-body {
    font-size: 17px;
}
.question-comment-author {
    font-size: 12px;
}
.question-comment-time {
    font-size: 12px;
    color: #666666;
}


.companion-list-title {
    font-size: 16px;
    font-weight: bold;
}
.companion-list-time {
    color: #666666;
}